{% extends 'layout.twig' %}

{% set title = 'login '  %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>


<form action="login" method="post" autocomplete="off">
    <div>{% if flash %}{{ flash}}{% endif %}</div>
    <div class="form-group {% if errors.first('identifier') %}has-error{% endif %}">
        <label for="identifier">Username/Email</label>
        <input class="form-control" type="text" name="identifier" id="identifier">
        {% if errors.first('identifier') %}{{ errors.first('identifier')}}{% endif %}
    </div>

    <div class="form-group {% if errors.first('identifier') %}has-error{% endif %}">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password">
        {% if errors.first('password') %}{{ errors.first('password')}}{% endif %}
    </div>
    <input type="hidden" name="csrf_name" value="{{ csrf.name }}">
    <input type="hidden" name="csrf_value" value="{{ csrf.value }}">
    <div class="">
        <input type="submit" value="Login">
    </div>
</form>
{% endblock %}